= render 'shared/header'
.default-container
  %nav.bread-container
    - breadcrumb :mypage
    = breadcrumbs separator: "#{content_tag(:i, '', :class=>'fas fa-chevron-right')}"
  %main.l-container
    .right-content
      %section.right-content__user
        =link_to "#", class:"right-content__user__page" do
          %figure
            =image_tag "member_photo_noimage_thumb.png" ,size: "60x60",class: "user-icon"
          %h2 ユーザーネーム
          .right-content__user__number
            %div
              評価
              %span.bold 0
            %div
              出品数
              %span.bold 0
      %user-information_tab
        .tabs
          %input#notice{checked: "checked", name: "tab_user", type: "radio"}
          %label.tab_item{for: "notice"}
            お知らせ
          %input#todo{name: "tab_user", type: "radio"}/
          %label.tab_user{for: "todo"}
            やることリスト
          #notice_content.tab_content
            %ul.tab-content
              %li.notice_content
                お知らせはありません
          #todo_content.tab_content
            %ul.tab-content
              %li.todo_content
                現在やることはありません
      %section.trade-information
        %h2.trade-information__tab
          購入した商品
        .tabs
          %input#trade-now{checked: "checked", name: "tab_item", type: "radio"}/
          %label.tab_now{for: "trade-now"}
            取引中
          %input#trade-kako{name: "tab_item", type: "radio"}/
          %label.tab_kako{for: "trade-kako"}
            過去の取引
          #trade-now_content.tab_content
            %ul.trade-now-content
              %li.trade-now_content
                取引中の商品はありません
          #trade-kako_content.tab_content
            過去の取引はありません

    = render 'shared/mypage-left-bar'
= render 'shared/footer'
