.top-page-view
  .top-page-view--title ピックアップカテゴリー
  = render "shared/items-boxs-container"
  = render "shared/items-boxs-container"
  = render "shared/items-boxs-container"
  = render "shared/items-boxs-container"
  .top-page-view--title ピックアップ
  = render "shared/items-boxs-container"
  = render "shared/items-boxs-container"
  = render "shared/items-boxs-container"
  = render "shared/items-boxs-container"
  = render "shared/items-boxs-container"
