.header
  .inner-header
    .inner-header__upper
      .inner-header__upper__left
        = link_to root_path do
          = image_tag "mercari_header.jpeg" ,width: "134px",class: ".inner-header__upper__left__mercari"
      .inner-header__upper__right
        = search_form_for @search,url: items_path,class: 'inner-header__upper__right__form' do |f|
          = f.search_field :name_cont, placeholder: ' 何かお探しですか？', class: 'inner-header__upper__right__form__input'
          %i.fas.fa-search{onclick:"$('.inner-header__upper__right__form__input__search').click()"}
          = f.submit '検索',class:'inner-header__upper__right__form__input__search'
          .inner-header__upper__right__form__hidden

    .inner-header__under
      .inner-header__under__left
        .inner-header__under__left__category
          %i.fas.fa-list-ul
          .inner-header__under__left__category__text カテゴリーから探す
        .inner-header__under__left__brand
          %i.fas.fa-tag
          .inner-header__under__left__brand__text ブランドから探す
      .inner-header__under__right
        .inner-header__under__right__notice
          %i.fas.fa-bell
          .inner-header__under__right__notice__text お知らせ
        .inner-header__under__right__to-do-list
          %i.fas.fa-check
          .inner-header__under__right__to-do-list__text やることリスト
        .inner-header__under__right__my-page
          = image_tag "member_photo_noimage_thumb.png" ,size: "32x32",class: "user-icon-image-top"
          .inner-header__under__right__my-page__text マイページ
