.inner-header__under__right__notice__text__accordion
  .inner-header__under__right__notice__text__accordion__01
    = image_tag "notice01.png" ,width: "320px"
  .inner-header__under__right__notice__text__accordion__02
    = image_tag "notice02.png" ,width: "320px"
  .inner-header__under__right__notice__text__accordion__03
    = image_tag "notice03.png" ,width: "320px"
  .inner-header__under__right__notice__text__accordion__04
    = image_tag "notice04.png" ,width: "320px"
  .inner-header__under__right__notice__text__accordion__05
    = image_tag "notice05.png" ,width: "320px"
