.default-container
  =render 'shared/mercari-header'
  %main.single-main
    .login-panel
      .login-panel__no-account
        %p
          アカウントをお持ちでない方はこちら
          .login-panel__no-account__create
            =link_to "#" do
              新規会員登録
      .login-form-inner
        %button#facebook-login.btn-default.btn-sns.btn-sns-facebook
          =fa_icon 'facebook'
          Facebookでログイン
        %button#google-login.btn-default.btn-sns.btn-sns-google
          =fa_icon 'google'
          Googleでログイン
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .field
            = f.label :email
            %br/
            = f.email_field :email, autofocus: true, autocomplete: "email"
          .field
            = f.label :password
            %br/
            = f.password_field :password, autocomplete: "current-password"
          .g-recaptcha
          .actions
            = f.submit "ログイン"
          .forget-passward
  =render 'shared/mercari-footer'
