.main-content
  =render 'shared/mercari-header'
  %main.single-main
    .login-panel
      .login-panel__no-account
        %p アカウントをお持ちでない方はこちら
        = link_to new_user_registration_path do
          .signin-box 新規会員登録
      .login-panel__login
        .login-panel__login__facebook
          =link_to user_facebook_omniauth_authorize_path do
            .facebook-box
              facebookでログイン
          %i.fab.fa-facebook
        .login-panel__login__google
          =link_to user_google_oauth2_omniauth_authorize_path do
            .google-box
              googleでログイン
          =image_tag "google",size:"20x20"
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .field
            %br/
            = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス" ,class: "siginin-field"
          .field
            %br/
            = f.password_field :password, autocomplete: "current-password",placeholder: "パスワード" ,class: "siginin-field"
          .g-recaptcha
            =image_tag "recaptcha.ong"
          .actions
            = f.submit "ログイン", class: "signin-btn"
          .forget-passward
            =link_to "パスワードをお忘れの方", root_path
  =render 'shared/mercari-footer'
