= render 'shared/header'
.items-boxs-container
  .top-page-view--title ピックアップカテゴリー
  %h2.items-boxs-container--title
    = link_to "レディース新着アイテム" , root_path
  .items-boxs-container--body
    .items-boxs-container--body__upper
      = render "shared/item"
    .items-boxs-container--body__under
      = link_to "すべての商品を見る" , root_path

.items-boxs-container
  %h2.items-boxs-container--title
    = link_to "メンズ新着アイテム" , root_path
  .items-boxs-container--body
    .items-boxs-container--body__upper
      = render "shared/item"
    .items-boxs-container--body__under
      = link_to "すべての商品を見る" , root_path

.items-boxs-container
  %h2.items-boxs-container--title
    = link_to "ベビー・キッズ新着アイテム" , root_path
  .items-boxs-container--body
    .items-boxs-container--body__upper
      = render "shared/item"
    .items-boxs-container--body__under
      = link_to "すべての商品を見る" , root_path

.items-boxs-container
  %h2.items-boxs-container--title
    = link_to "コスメ・香水・美容新着アイテム" , root_path
  .items-boxs-container--body
    .items-boxs-container--body__upper
      = render "shared/item"
    .items-boxs-container--body__under
      = link_to "すべての商品を見る" , root_path

.items-boxs-container
  .top-page-view--title ピックアップブランド
  %h2.items-boxs-container--title
    = link_to "シャネル新着アイテム" , root_path
  .items-boxs-container--body
    .items-boxs-container--body__upper
      = render "shared/item"
    .items-boxs-container--body__under
      = link_to "すべての商品を見る" , root_path

.items-boxs-container
  %h2.items-boxs-container--title
    = link_to "ルイ・ヴィトン新着アイテム" , root_path
  .items-boxs-container--body
    .items-boxs-container--body__upper
      = render "shared/item"
    .items-boxs-container--body__under
      = link_to "すべての商品を見る" , root_path

.items-boxs-container
  %h2.items-boxs-container--title
    = link_to "シュプリーム新着アイテム" , root_path
  .items-boxs-container--body
    .items-boxs-container--body__upper
      = render "shared/item"
    .items-boxs-container--body__under
      = link_to "すべての商品を見る" , root_path

.items-boxs-container
  %h2.items-boxs-container--title
    = link_to "ナイキ新着アイテム" , root_path
  .items-boxs-container--body
    .items-boxs-container--body__upper
      = render "shared/item"
    .items-boxs-container--body__under
      = link_to "すべての商品を見る" , root_path

= render 'shared/footer'
