.wallpaper
  .item
    .item__top-box
      %h2.item__top-box__item-name
        = @item.name
    .item__main-box
      .item__main-box__left
        .item__main-box__left__image-big
          / = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
          大きな画像
        .item__main-box__left__image-box
          #item__main-box__left__image-box__contents1.item__main-box__left__image-box__contents-image
            = @item.image 画像1
          #item__main-box__left__image-box__contents2.item__main-box__left__image-box__contents-image
            = @item.image 画像2
          #item__main-box__left__image-box__contents3.item__main-box__left__image-box__contents-image
            = @item.image 画像3
          #item__main-box__left__image-box__contents4.item__main-box__left__image-box__contents-image
            = @item.image 画像4
          #item__main-box__left__image-box__contents5.item__main-box__left__image-box__contents-image
            = @item.image 画像5
          #item__main-box__left__image-box__contents6.item__main-box__left__image-box__contents-image
            = @item.image 画像6
          #item__main-box__left__image-box__contents7.item__main-box__left__image-box__contents-image
            = @item.image 画像7
          #item__main-box__left__image-box__contents8.item__main-box__left__image-box__contents-image
            = @item.image 画像8
          #item__main-box__left__image-box__contents9.item__main-box__left__image-box__contents-image
            = @item.image 画像9
          #item__main-box__left__image-box__contents10.item__main-box__left__image-box__contents-image
            = @item.image 画像10

      .item__main-box__right
        .item__main-box__right__column-left
          #item__main-box__right__column-left__exhibitor.item__main-box__right__column-left__box
            出品者
          #item__main-box__right__column-left__category.item__main-box__right__column-left__box
            カテゴリー
          #item__main-box__right__column-left__brand.item__main-box__right__column-left__box
            ブランド
          #item__main-box__right__column-left__state.item__main-box__right__column-left__box
            商品の状態
          #item__main-box__right__column-left__burden.item__main-box__right__column-left__box
            配送料の負担
          #item__main-box__right__column-left__method.item__main-box__right__column-left__box
            配送の方法
          #item__main-box__right__column-left__region.item__main-box__right__column-left__box
            配送元地域
          #item__main-box__right__column-left__indication.item__main-box__right__column-left__box
            発送日の目安

        .item__main-box__right__column-right
          #item__main-box__right__column-right__exhibitor.item__main-box__right__column-right__box
            .item__main-box__right__column-right__box__exhibitor-top
              / = link_to user_show_path(params[:user_id]) do
              %p.item__main-box__right__column-right__box__exhibitor-top__link-text.item__main-box__right__column-right__box__links
                = @user.name 出品者庄司

            .item__main-box__right__column-right__box__exhibitor-bottom
              .item__main-box__right__column-right__box__exhibitor-bottom__box-good
                %i.fas.fa-laugh
                .item__main-box__right__column-right__box__exhibitor-bottom__box-good__value 30
              .item__main-box__right__column-right__box__exhibitor-bottom__box-normal
                %i.fas.fa-meh
                .item__main-box__right__column-right__box__exhibitor-bottom__box-normal__value 10
              .item__main-box__right__column-right__box__exhibitor-bottom__box-bad
                %i.fas.fa-frown
                .item__main-box__right__column-right__box__exhibitor-bottom__box-bad__value 2
          #item__main-box__right__column-right__category.item__main-box__right__column-right__box
            .item__main-box__right__column-right__box__category-large
              = link_to root_path do
                %p.item__main-box__right__column-right__box__category-large__link-text.item__main-box__right__column-right__box__links レディース
            .item__main-box__right__column-right__box__category-medium
              = link_to root_path do
                .item__main-box__right__column-right__box__category-medium__link-text.item__main-box__right__column-right__box__links
                  .item__main-box__right__column-right__box__category-medium__link-text__icon
                    %i.fas.fa-angle-right
                  .item__main-box__right__column-right__box__category-medium__link-text__string.item__main-box__right__column-right__box__links バッグ
            .item__main-box__right__column-right__box__category-small
              = link_to root_path do
                .item__main-box__right__column-right__box__category-small__link-text.item__main-box__right__column-right__box__links
                  .item__main-box__right__column-right__box__category-small__link-text__icon
                    %i.fas.fa-angle-right
                  .item__main-box__right__column-right__box__category-small__link-text__string.item__main-box__right__column-right__box__links ショルダーバッグ
          #item__main-box__right__column-right__brand.item__main-box__right__column-right__box
            = link_to root_path do
              %p.item__main-box__right__column-right__box__link-text.item__main-box__right__column-right__box__links ナイキ
          #item__main-box__right__column-right__state.item__main-box__right__column-right__box
            = @item.condition 新品
          #item__main-box__right__column-right__burden.item__main-box__right__column-right__box
            = @item.postage 着払い
          #item__main-box__right__column-right__method.item__main-box__right__column-right__box
            = @item.shipping_method らくらくメルカリ便
          #item__main-box__right__column-right__region.item__main-box__right__column-right__box
            = link_to root_path do
              %p.item__main-box__right__column-right__box__link-text.item__main-box__right__column-right__box__links
                = @item.region 東京都
          #item__main-box__right__column-right__indication.item__main-box__right__column-right__box
            = @item.shipping_date
              1〜2日で発送

    .item__price-box
      .item__price-box__price
        = @item.price ¥21,400
      .item__price-box__tax
        (税込)
      .item__price-box__cost
        送料込み
    .item__confirmation-box
      = link_to root_path do
        .item__confirmation-box__link-text 購入画面に進む
    .item__text-box
      %p.item__text-box__text
        = @item.description
        NIKE LEBRON 16 LOW ナイキ レブロン 16
        27.5cm、黒タグです。

        NIKEオンラインで購入。
        ※個人情報をきりとった納品書を添付します。
    .item__bottom-box
      .item__bottom-box__left
        = link_to root_path do
          .item__bottom-box__left__inner-box
            %i.far.fa-heart
            .item__bottom-box__left__inner-box__text
              いいね！
            .item__bottom-box__left__inner-box__value
              7
  /     .item__bottom-box__middle
  /       = link_to root_path do
  /         .item__bottom-box__middle__inner-box
  /           %i.far.fa-flag
  /           .item__bottom-box__middle__inner-box__text
  /             不適切な商品の報告
  /     .item__bottom-box__right
  /       = link_to "https://www.mercari.com/jp/safe/description/" do
  /         %i.fas.fa-lock
  /         .item__bottom-box__right__inner-box__text
  /           あんしん・あんぜんへの取り組み

  / .comment
  /   .comment__comments-box
  /     = render 'shared/comment'
  /   .comment__form-box
  /     = form_for [@items, @comment] do |f|
  /       %p.comment__form-box__top-text
  /         相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
  /       = f.text_field :text, class: 'comment__form-box__input'
  /       .comment__form-box__action-box
  /         = f.submit 'コメントする', class: 'comment__form-box__action-box__btn'
  / .nav
  /   .nav__left
  /     = link_to root_path do
  /       .nav__left__box
  /         %i.fas.fa-angle-left
  /         %p.nav__left__box__text オーブ なめらか質感ひと塗りルージュ BE41
  /   .nav__right
  /     = link_to root_path do
  /       .nav__right__box
  /         %p.nav__right__box__text 装備一式
  /         %i.fas.fa-angle-right
  / .social-media
  /   .social-media__box
  /     .social-media__box__inner-box
  /       = link_to root_path do
  /         .social-media__box__inner-box__facebook
  /           %i.fab.fa-facebook
  /       = link_to root_path do
  /         .social-media__box__inner-box__twitter
  /           %i.fab.fa-twitter
  /       = link_to root_path do
  /         .social-media__box__inner-box__line
  /           %i.fab.fa-line
  /       = link_to root_path do
  /         .social-media__box__inner-box__pinterest
  /           %i.fab.fa-pinterest













  / .exhibition
  /   .exhibition__name
  /   .exhibition__box

  / .other-item
  /   .other-item__top
  /   .other-item__box
